@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;600;700&family=Playfair+Display:wght@400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Playfair Display', serif;
}

h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}

h3 {
  font-size: 36px;
  line-height: 44px;
  color: #222;
}

h4 {
  font-size: 20px;
  color: #222;
}

h6 {
  font-weight: 600;
  font-size: 12px;
}
p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}
.section-p1 {
  padding: 40px 80px;
}
.section-m1 {
  margin: 40px 0;
}
button.normal {
  font-size: 40px 0;
  font-weight: 600;
  padding: 15px 30px;
  color: #000;
  background: #fff;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.2s;
}

button.white {
  font-size: 14px 0;
  font-weight: 600;
  padding: 11px 18px;
  color: #fff;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid white;
  outline: none;
  transition: 0.2s;
}
body {
  width: 100%;
}
/* Header Start */
#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background: lavenderblush;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
}
#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}
#navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}
#navbar li a {
  text-decoration: none;
  font-size: 16px;
  color: rgb(25, 188, 194);
  font-weight: 700;
  transition: 0.3s ease;
}
#navbar li a:hover,
#navbar li a.active {
  color: rgb(14, 14, 234);
}
#navbar li a.active::after,
#navbar li a:hover::after {
  content: '';
  width: 20%;
  height: 2px;
  background: rgb(14, 14, 234);
  position: absolute;
  bottom: -4px;
  left: 20px;
}

#mobile {
  display: none;
  align-items: center;
}
#close {
  display: none;
}
/* Home Page */

#hero {
  background-image: url('images/hero.jpg');
  /* background: rgb(245, 216, 226); */
  height: 90vh;
  width: 100%;
  background-size: cover;
  background-position: top 25% right 0;
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
#hero h4 {
  padding-bottom: 15px;
}
#hero h1 {
  color: blue;
}

#hero button {
  background-image: url('images/button.png');
  background-color: transparent;
  color: rgb(195, 19, 19);
  border: 0;
  padding-left: 14px 80 px 14px 65 px;
  background-repeat: no-repeat;
  cursor: pointer;
  font-weight: 700;
  font-size: 15px;
}

#feature {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
#feature .fe-box {
  width: 180px;
  text-align: center;
  padding: 25px 15px;
  box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
  border: 1px solid gainsboro;
  border-radius: 4px;
  margin: 15px 0;
}

#feature .fe-box:hover {
  box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.01);
}

#feature .fe-box img {
  width: 100%;
  margin-bottom: 10px;
}

#feature .fe-box h6 {
  display: inline-block;
  padding: 9px 8px 6px 8px;
  line-height: 1;
  border-radius: 4px;
  color: darkcyan;
  background-color: wheat;
}

#feature .fe-box:nth-child(2) h6 {
  background-color: rgb(197, 222, 142);
}

#feature .fe-box:nth-child(3) h6 {
  background-color: rgb(252, 203, 232);
}

#feature .fe-box:nth-child(4) h6 {
  background-color: rgb(163, 226, 174);
}

#feature .fe-box:nth-child(5) h6 {
  background-color: rgb(190, 223, 243);
}

#feature .fe-box:nth-child(6) h6 {
  background-color: rgb(200, 201, 243);
}

#product {
  text-align: center;
}

#product1 .pro {
  width: 23%;
  min-width: 250px;
  padding: 10px 20px;
  border: 1px solid rgb(199, 194, 194);
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  margin: 15px 0;
  transition: 0.6s ease;
  position: relative;
}
#product1 h2,
#product1 p {
  text-align: center;
}
#product1 .pro-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 20px;
}

#product1 .pro:hover {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}
#product1 .pro img {
  width: 100%;
  border-radius: 20px;
}

#product1 .pro .des {
  text-align: start;
  padding: 10px 0;
}

#product1 .pro .des span {
  color: #85928c;
  font-size: 12px;
}

#product1 .pro .des h5 {
  padding-top: 7px;
  color: rgb(6, 68, 71);
  font-size: 14px;
}

#product1 .pro .des i {
  font-size: 12px;
  color: rgb(234, 209, 66);
}
#product1 .pro .des h4 {
  padding-top: 7px;
  font-size: 15px;
  font-weight: 700;
  color: rgb(6, 68, 71);
}
#product1 .pro .cart {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  background-color: rgb(237, 236, 236);
  color: rgba(38, 41, 41, 0.363);
  border: 1px solid whitesmoke;
  position: absolute;
  bottom: 20px;
  right: 10px;
  justify-content: center;
}
#banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url('images/banner/Autumn-Leaves-in-sunshine.jpg');
  width: 100%;
  height: 40vh;
  background-size: cover;
  background-position: center;
}

#banner h4 {
  color: #fff;
  font-size: 16px;
}
#banner h2 {
  color: #fff;
  font-size: 30px;
  padding: 10px 0;
}
#banner h2 span {
  color: #c41010;
}
#banner button:hover {
  background: #8ecfb1;
  color: #fff;
}

#sm-banner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#sm-banner .banner-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-image: url('images/banner/banner2.jpg');
  min-width: 580px;
  height: 50vh;
  background-size: cover;
  background-position: center;
  padding: 30px;
}
#sm-banner .banner-box2 {
  background-image: url('images/banner/banner3.jpg');
}

#sm-banner h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 300;
}
#sm-banner h2 {
  color: #fff;
  font-size: 28px;
  font-weight: 800;
}
#sm-banner span {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  padding-bottom: 15px;
}

#sm-banner .banner-box:hover button {
  background: #465b52;
  border: 1px solid #465b52;
}

#banner3 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 80px;
}
#banner3 .banner-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-image: url('/images/banner/grass.jpg');
  min-width: 30%;
  height: 30vh;
  background-size: cover;
  background-position: center;
  padding: 20px;
  margin-bottom: 20px;
}

#banner3 .banner-box2 {
  background-image: url('images/banner/fleas-banner.jpg');
}
#banner3 .banner-box3 {
  background-image: url('images/banner/banner-travel.jpg');
}

#banner3 h2 {
  color: #fff;
  font-weight: 800;
  font-size: 25px;
}
#banner3 h3 {
  color: #fff;
  font-weight: 800;
  font-size: 20px;
}

#newsletter {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background: #465b52;
  /* background-image: url('/images/banner/email-marketing-beginners.jpg'); */
  background-repeat: no-repeat;
  background-position: 20% 30%;
}
#newsletter h4 {
  font-size: 22px;
  font-weight: 700;
  color: #fff;
}
#newsletter p {
  font-size: 14px;
  font-weight: 6000;
  color: #ccc2c2;
}
#newsletter p span {
  font-size: 14px;
  font-weight: 6000;
  color: #ccf127;
}
#newsletter input {
  height: 3.125rem;
  padding: 0 1.25em;
  font-size: 14px;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#newsletter button {
  background-color: #b0d7c6;
  color: #000;
  white-space: nowrap;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
#newsletter .form {
  display: flex;
  width: 40%;
}
footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer .col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}
footer .logo {
  margin-bottom: 30px;
  font-size: 30px;
}
footer h4 {
  font-size: 14px;
  padding-bottom: 20px;
}
footer p {
  font-size: 13px;
  margin: 0 0 8px 0;
}
footer a {
  font-size: 13px;
  text-decoration: none;
  color: #222;
  margin-bottom: 10px;
}
footer .follow {
  margin-top: 20px;
}
footer .follow i {
  cursor: pointer;
  color: #222;
  padding-right: 4px;
}
footer .follow i:hover,
footer a:hover {
  color: rgb(185, 159, 9);
}

footer .install .row img {
  border: 1px solid green;
  border-radius: 4px;
  width: 120px;
}
footer .install img {
  margin: 10px 0 15px 0;
  width: 120px;
}
footer .copyright {
  width: 100%;
  text-align: center;
}

/* Shop Page */
#page-header {
  background-image: url('/images/banner/bgfons.com\ -\ leaves_texture1471.jpg');
  width: 100%;
  height: 40vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 14px;
}

#page-header h2,
#page-header p {
  color: #fff;
}

#pagination {
  text-align: center;
}
#pagination a {
  text-decoration: none;
  background-color: #465b52;
  padding: 15px 20px;
  border-radius: 4px;
  color: #fff;
  font-weight: 600;
  font-size: 18px;
}

#pagination a i {
  font-size: 16px;
  font-weight: 600;
}

/* Single Product */
#pro-details {
  display: flex;
  margin-top: 3px;
}
#pro-details .single-pro-image {
  width: 40%;
  margin-right: 50px;
  border: 1px solid rgb(237, 234, 234);
  box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.02);
}

.small-img-group {
  display: flex;
  justify-content: space-between;
}
.small-img-col {
  flex-basis: 24%;
  cursor: pointer;
  border: 1px solid rgb(237, 234, 234);
  box-shadow: 20px 20px 10px rgba(0, 0, 0, 0.03);
}

#pro-details .single-pro-details {
  width: 50%;
  padding-top: 30px;
}

#pro-details .single-pro-details h4 {
  padding: 40px 0 20px 0;
}
#pro-details .single-pro-details h2 {
  font-size: 26px;
}

#pro-details .single-pro-details select {
  display: block;
  padding: 5px 10px;
  margin-bottom: 10px;
}

#pro-details .single-pro-details input {
  width: 50px;
  height: 47px;
  padding-left: 10px;
  font-size: 16px;
  margin-right: 10px;
}

#pro-details .single-pro-details button {
  background: #465b52;
  color: #fff;
}

#pro-details .single-pro-details input:focus {
  outline: none;
}

#pro-details .single-pro-details span {
  line-height: 25px;
}

/*  Blog Page */
#page-header.blog-header {
  background-image: url('/images/banner/facts-banner.jpg');
}
#blog {
  padding: 150px 150px 0 150px;
}

#blog .blog-box {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  padding-bottom: 90px;
}

#blog .blog-img {
  width: 50%;
  margin-right: 40px;
}

#blog img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
#blog .blog-details {
  width: 50%;
}
#blog .blog-details a {
  text-decoration: none;
  font-size: 11px;
  color: #000;
  font-weight: 700;
  position: relative;
  transition: 0.3s;
}

#blog .blog-details a::after {
  content: '';
  width: 50px;
  height: 1px;
  background-color: #000;
  position: absolute;
  top: 4px;
  right: -60px;
}

#blog .blog-details a:hover {
  color: #8ecfb1;
}

#blog .blog-details a:hover::after {
  background-color: #8ecfb1;
}

#blog .blog-box h1 {
  position: absolute;
  top: -60px;
  left: 0;
  font-size: 70px;
  font-weight: 700;
  color: #c5d0cb;
  z-index: -9;
}

/* About page */
#page-header.about-header {
  background-image: url('/images/banner/about-banner.jpg');
}

#about-head {
  display: flex;
  align-items: center;
}

#about-head img {
  width: 50%;
  height: auto;
}

#about-head div {
  padding-left: 40px;
}
#about-video {
  text-align: center;
}
#about-video .video {
  width: 50%;
  height: 450px;
  margin: 30px auto 0 auto;
}
#about-video .video iframe {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

/* Contact Page */

#page-header.contact-header {
  background: #8ecfb1;
}
#contact-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* margin: 30px; */
}
#contact-details .details {
  width: 40%;
}
#contact-details .details span,
#form-details form span {
  font-size: 12px;
}
#contact-details .details h2,
#form-details form h2 {
  font-size: 26px;
  line-height: 35px;
  padding: 20px 0;
}
#contact-details .details li {
  list-style: none;
  display: flex;
  padding: 10px 0;
}
#contact-details .details li i {
  font-size: 14px;
  padding-right: 22px;
}
#contact-details .details li p {
  font-size: 14px;
  margin: 0;
}
#contact-details .map {
  width: 55%;
  height: 400px;
}
#contact-details .map iframe {
  width: 100%;
  height: 100%;
}
#contact-details button {
  background-color: #465b52;
  color: #fff;
}
#form-details {
  display: flex;

  justify-content: space-between;
  margin: 30px;
  padding: 80px;
  border: 1px solid lightgrey;
}
#form-details form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 75%;
  margin-right: 30px;
}
#form-details form input,
#form-details form textarea {
  width: 100%;
  padding: 12px 15px;
  outline: none;
  margin-bottom: 20px;
  border: 1px solid lightgray;
}
#form-details form button {
  background-color: #465b52;
  color: #fff;
}

#form-details .people div {
  padding-bottom: 25px;
  display: flex;
  align-items: flex-start;
}

#form-details .people div img {
  width: 75px;
  height: 75px;
  object-fit: cover;
  margin-right: 15px;
  border-radius: 50%;
}
#form-details .people div p {
  margin: 0;
  font-size: 13px;
  line-height: 25px;
}
#form-details .people div p span {
  display: block;
  font-size: 16px;
  font-weight: 600;
  color: red;
}

/*  Cart page */

#page-header.cart-banner {
  background-image: url('/images/banner/facts-banner.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
#page-header.cart-banner h2,
#page-header.cart-banner p {
  color: #10a866;
}

#cart {
  overflow-x: auto;
}
#cart table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  white-space: nowrap;
}
#cart table img {
  width: 70px;
}
#cart table td:nth-child(1) {
  width: 100px;
  text-align: center;
}
#cart table td:nth-child(2) {
  width: 150px;
  text-align: center;
}
#cart table td:nth-child(3) {
  width: 250px;
  text-align: center;
}
#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6) {
  width: 150px;
  text-align: center;
}
#cart table td:nth-child(5) input {
  width: 70px;
  padding: 10px 5px 10px 15px;
}
#cart table thead {
  border: 1px solid lightgrey;
  border-left: none;
  border-right: none;
}
#cart table thead td {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 13px;
  padding: 18px 0;
}
#cart table tbody tr td {
  padding-top: 15px;
}
#cart table tbody td {
  font-size: 13px;
}
#card-add {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#coupon {
  width: 50%;
  margin-bottom: 30px;
}
#coupon h3,
#subtotal h3 {
  padding-bottom: 15px;
}
#coupon input {
  padding: 10px 20px;
  outline: none;
  width: 60%;
  margin-right: 10px;
  border: 1px solid lightgrey;
}
#coupon button,
#subtotal button {
  background-color: #465b52;
  color: #fff;
  padding: 12px 20px;
}
#subtotal {
  width: 50%;
  margin-bottom: 30px;
  border: 1px solid lightgrey;
  padding: 30px;
}
#subtotal table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}
#subtotal table td {
  width: 50%;
  border: 1px solid lightgrey;
  padding: 10px;
  font-size: 12px;
}

/* Media Query */
@media (max-width: 799px) {
  .section-p1 {
    padding: 40px 40px;
  }
  #navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    width: 300px;
    background-color: #e6efeb;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    padding: 80px 0 0 10px;
    transition: 0.3s;
  }
  #navbar.active {
    right: 0;
  }
  #navbar li {
    margin-bottom: 25px;
  }
  #mobile {
    display: flex;
    align-items: center;
  }
  #mobile i {
    color: #222;
    font-size: 24px;
    padding-left: 20px;
  }
  #close {
    display: initial;
    position: absolute;
    top: 30px;
    right: 30px;
    color: #222;
    font-size: 24px;
  }
  #lg-bag {
    display: none;
  }
  #hero {
    height: 70vh;
    padding: 0 80px;
    background-position: top 30% right 80%;
  }
  #feature {
    justify-content: center;
  }
  #feature .fe-box {
    margin: 15px 15px;
  }
  #product1 .pro-container {
    justify-content: center;
  }
  #product1 .pro {
    margin: 15px;
  }
  #banner {
    height: 20vh;
  }
  #sm-banner .banner-box {
    min-width: 100%;
    height: 30vh;
    margin-bottom: 20px;
  }
  #banner3 {
    padding: 0 40px;
  }
  #banner3 .banner-box {
    width: 28%;
  }
  #banner3 .banner-box h2 {
    font-size: 30px;
  }
  #banner3 .banner-box h3 {
    font-size: 20px;
    line-height: 2rem;
  }
  #newsletter .form {
    width: 70%;
  }

  /* About Page */
  #about-video .video {
    width: 80%;
    height: 350px;
    margin: 30px auto 0 auto;
  }
}

/* Contact Page */
#form-details {
  padding: 40px;
}
#form-details form {
  width: 50%;
}
#contact-details {
  padding: 40px;
  margin: 0 30px;
}

#newsletter {
  padding-left: 60px;
}
footer {
  margin: 0 20px;
}
@media (max-width: 477px) {
  .section-p1 {
    padding: 20px 10px;
  }
  #header {
    padding: 20px 40px;
  }

  h1 {
    font-size: 38px;
  }
  h2 {
    font-size: 32px;
  }
  #hero {
    padding: 0 20px;
    background-position: 55%;
  }
  #feature {
    justify-content: space-between;
  }
  #feature .fe-box {
    width: 110px;
    margin: 0 0 15px 0;
  }
  #product1 .pro {
    width: 100%;
  }
  #banner {
    height: 40vh;
  }
  #banner .banner-box {
    height: 40vh;
  }
  #banner3 {
    padding: 0 20px;
  }
  #banner3 .banner-box {
    width: 100%;
  }
  #newsletter {
    padding: 40px 20px;
  }
  #newsletter .form {
    width: 100%;
  }
  footer .copyright {
    text-align: start;
  }
  footer .one {
    width: 100%;
  }
  /* single product */
  #pro-details {
    display: flex;
    flex-direction: column;
  }

  #pro-details .single-pro-image {
    width: 100%;
    margin-right: 0px;
  }

  #pro-details .single-pro-details {
    width: 100%;
  }

  /* Blog Page */

  #blog {
    padding: 100px 20px 0 20px;
  }

  #blog .blog-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  #blog .blog-img {
    width: 100%;
    margin-right: 0px;
  }

  #blog .blog-details {
    width: 100%;
  }

  /* About Page */

  #about-head {
    flex-direction: column;
  }
  #about-head img {
    width: 100%;
    margin-bottom: 20px;
  }
  #about-head div {
    padding-left: 0px;
  }

  #about-video .video {
    width: 100%;
    height: 250px;
  }
  /* Contact Page */
  #contact-details {
    flex-direction: column;
  }
  #contact-details .details {
    width: 100%;
    margin-bottom: 20px;
  }
  #contact-details {
    padding: 10px;
    margin: 0 10px;
  }
  #contact-details .map {
    width: 100%;
  }
  #form-details {
    margin: 10px;
    padding: 30px 10px;
    flex-wrap: wrap;
  }
  #form-details form {
    margin-bottom: 30px;
    width: 100%;
  }
  /* Cart Page */
  #card-add {
    flex-direction: column;
    margin-bottom: 30px;
  }
  #coupon {
    width: 100%;
  }
  #subtotal {
    width: 100%;
    padding: 20px;
  }
}
